{% extends 'master.html' %} 
{% load static %}
{% block head %}

{% endblock head %} 


{% block title %}
imgs - ক্যালিক্স স্কুল এন্ড কলেজ
{% endblock title %}

{% block poster %} 
{% include 'poster.html' %}
{% endblock poster %}

{% block main %}

<div class="red-green-center ">
  <h1>
    <p>
      Gellary
    </p>
  </h1>
</div>


<div class="images__container">
  <div class="images">
    <div class="img__box">
      <img src="./review_five_star.png" alt="" class="img">
    </div>
  </div>
</div>

{% endblock main %}