{% extends 'master.html' %} 
{% load static %} 

{% block head %}
<link rel="stylesheet" href="{% static 'css/lib.css' %}" />
{% endblock head %} 


{% block title %}
বই - ক্যালিক্স স্কুল এন্ড কলেজ
{% endblock title %}

{% block poster %} 
{% include 'poster.html' %}
{% endblock poster %}

{% block main %}
<main>
  <div class="teachers__title red-green-center ">
    <h1>
      <p>
       বই
      </p>
    </h1>
  </div>



  {% for item in posts %}
   <div class="lib__title red-green-center">
      <h1>
      <p>
       {{item.short_name}}
      </p>
    </h1>
  </div>

      <h1 class="lib__title-promary" >{{item.title_of_post}}</h1>
        <div class="lib__desc">
          {{item.description | safe}}
        </div>

        {% endfor %}

</main>

{% endblock main %}