{% load static %}

<header>
  <div class="logo__box">
    <span class="established-year">২০১৮ খ্রিষ্টাব্দ থেকে-</span>
    <img class="logo__img" src="{% static 'img/logo.svg' %}" alt="main" />
    <p class="our-slogan">শুধু ভাল ছাত্র নয়, ভাল মানুষও চাই</p>
  </div>

  <div class="header__info">
    <h1 class="main__head">ক্যালিক্স স্কুল এণ্ড কলেজ</h1>
    <h2 class="sub-heading">ভাটরা, খানপুর, শেরপুর, বগুড়া</h2>
    <h3 class="mobile-number">
      <p>
        <a title="কল করতে ক্লিক করুন" href="tel:+8801716284672">
          <span>মোবাইলঃ &#9990;</span> ০১৭১৬২৮৪৬৭২</a
        >
        <br />
        <a href="mailto:calix.school.college@gmail.com"
          ><span>ই-মেইল &#9993; </span> calix.school.college@gmail.com</a
        >
      </p>
    </h3>
  </div>
</header>
